<nav class="navbar navbar-lotl" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Law of the Lamb - Prototype
            </a>
        </div>

        <ul class="nav navbar-nav">

            <li>
                <a class="panel-title" style="text-align: right;">
                    User: <%= userInfo.firstName %> <%= userInfo.lastName %>
                </a>
            </li>
        </ul>
        
        
        
      
    </div>
</nav>