<html>
    <body>
       <style>
           p {
               font-size: 12px;
               font-family: 'times new roman,times,serif';
               margin: 0px;
           }
        
        </style>
        <div style="width:700px">
            <div style="width:32%; display:inline-block;">
                <div style="margin-left: 20px;">
                    <br />
                    <br />
                    <br />
                    <strong>
                        <p>ERIC M. LAMB</p>
                        <p>eric@lambandlamb.com</p>
                        <br />
                        <p>DOUGLAS M. LAMB</p>
                        <p>doug@lambandlamb.com</p>
                        <br />
                        <p>GEORGE S. LAMB</p>
                        <p>george@lambandlamb.com</p>
                    </strong>
                    <br />
                </div>
            </div>
            <div style="text-align:center; vertical-align:top; width:32%; display:inline-block;">
               <p>
                   <strong>Lamb &amp; Lamb, PSC</strong>
               </p>
                <p>
                    <strong>Attorneys &amp; Counselors</strong>
                </p>
                <p>P.O. Box 34275</p>
                <p>Louisville, KY 40232-4275</p>
                <p>(502) 451-6881</p>
                <p>Facsimile: (502) 451-6892</p>
            </div>
            <div style="text-align:right; width:32%; display:inline-block; vertical-align: top;">
                <div style="margin-right: 20px; text-align: right;">
                    <br />
                    <br />
                    <br />
                        <strong>
                            <p><u>Street Address</u></p>
                            <p>Please Send Mail to P.O. Box</p>
                            <p>4310 Robards Lane</p>
                            <p>Louisville, KY &nbsp;40218</p>
                        </strong>
                </div>
            </div>
            <div style="height: 20px;">
                &nbsp;
            </div>
            <div style="text-align:left; vertical-align:top; width:32%; display:inline-block;">
                &nbsp;
            </div>
            <div style="text-align:center; vertical-align:top; width:32%; display:inline-block;">
                <p style="font-size:17px">
                    September 23, 2016
                </span>
            </div>

            <br />
            &nbsp;
        </div>
    </body>
</html>
