<html>
    <body>
        <div style="width:700px">
            <div style="width:33%; display:inline-block;">
                <div style="margin-left: 20px;"><br />
                    <br />
                    <br />
                    <br />
                    <span style="font-size:12px"><span style="font-family:times new roman,times,serif"><strong>ERIC M. LAMB<br />
                    eric@lambandlamb.com<br />
                    <br />
                    DOUGLAS M. LAMB<br />
                    doug@lambandlamb.com<br />
                    <br />
                    GEORGE S. LAMB<br />
                    george@lambandlamb.com</strong></span></span><br />
                </div>
            </div>
            <div style="text-align:center; vertical-align:top; width:33%; display:inline-block;">
               <span style="font-size:24px; font-family:times new roman,times,serif">
                   <strong>Lamb &amp; Lamb, PSC</strong>
               </span><br />
                <span style="font-family:times new roman,times,serif; font-size:17px">
                    <strong>Attorneys &amp; Counselors</strong>
                </span><br />
                <span style="font-family:times new roman,times,serif; font-size:12px">P.O. Box 34275<br />
                Louisville, KY 40232-4275<br />
                (502) 451-6881<br />
                Facsimile: (502) 451-6892</span>
            </div>
            <div style="text-align:right; width:33%; display:inline-block;">
                <div style="margin-right: 20px; text-align: right;">
                    <span style="font-family:times new roman,times,serif; font-size:12px">
                        <strong>
                            <u>Street Address</u><br />
                            Please Send Mail to P.O. Box<br />
                            4310 Robards Lane<br />
                            Louisville, KY &nbsp;40218
                        </strong>
                    </span>
                </div>
            </div>
            <div style="text-align:left; vertical-align:top; width:33%; display:inline-block;">
            </div>
            <div style="text-align:center; vertical-align:top; width:33%; display:inline-block;">
                <span style="font-family:times new roman,times,serif; font-size:17px">
                    September 23, 2016
                </span>
            </div>

            <br />
            &nbsp;
        </div>
    </body>
</html>
