<!DOCTYPE html>
<html>
<head>
    <title></title>
    <% include ../partials/headSection %>
</head>
<body>
    <div class="container">
        <header>
        </header>
        <br />
        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-sm-3">
                <% include ../partials/recentClients %>
            </div>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="/public/js/notify.min.js"></script>
</body>

</html>
